.about{
    display: flex;
    border: 1px solid rgb(250, 225, 4);
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    width: 1000px;
}
img{
    width: 250px;
}
.info{
    margin-left: 30px;
    margin-top: 10px;
}